@model TutorialApp.Core.DTOs.LoginViewModel;
@{
    ViewData["Title"] = "Login";
}

<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f1f1f1;
    }

    .container {
        max-width: 400px;
        max-height: 600px;
        padding: 20px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 30px;
    }

    h1 {
        text-align: center;
    }

    input[type="text"], input[type="password"], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

        button:hover {
            opacity: 0.8;
        }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<div class="container">
    @if(ViewBag.IsSuccess != null)
    {
        <div class="alert alert-success">
            <p>login was successfully</p>
        </div>

        <script>
            var delay = 3000;
            setTimeout(function () { window.location = "https://localhost:7191/"; }, delay);
        </script>
    }
    <h1>Login Form</h1>
    <form id="loginForm" asp-action="Login" method="post">
  

        <label for="email"><b>Email</b></label>
        <input type="text" asp-for="Email" placeholder="Enter your email" name="email" required>
        <span asp-validation-for="Email"></span>

        <label for="password"><b>Password</b></label>
        <input type="password" asp-for="Password" placeholder="Enter a password" name="password" required>
       
        <label>
            <input type="checkbox" asp-for="RememberMe" name="rememberMe"> Remember Me
        </label>

        <div class="clearfix">
            <button type="submit">Login</button>
        </div>
        <br/>
        <div class="clearfix">
            <a href="/ForfotPassword" ">Forgot Password</a>
        </div>
        <br/>
        <div class="clearfix col-md-4">
            <a href="/Register" >Register</a>
        </div>
    </form>
    <div asp-validation-summary="All"></div>
</div>