@model dynamic

@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}
@section SliderContainer
    {
    <div class="container">
        <img class="background-image" src="/assets/images/slider.jpeg" alt="Background Image">
        <div class="content">
            <a href="#">Login</a>
            <a href="/Register">Register</a>
        </div>
    </div>
}
<div class="card-container">
    <div class="card">
        <img src="/assets/images/java.jpg" alt="Image 1">
        <h2>Card Title 1</h2>
        <p>This is some sample text describing the card.</p>
        <a href="#">Read More</a>
    </div>
    <div class="card">
        <img src="/assets/images/JS.jpg" alt="Image 2">
        <h2>Card Title 2</h2>
        <p>This is some sample text describing the card.</p>
        <a href="#">Read More</a>
    </div>
    <div class="card">
        <img src="/assets/images/microsoft.jpg" alt="Image 3">
        <h2>Card Title 3</h2>
        <p>This is some sample text describing the card.</p>
        <a href="#">Read More</a>
    </div>
    <div class="card">
        <img src="/assets/images/node.jpg" alt="Image 1">
        <h2>Card Title 1</h2>
        <p>This is some sample text describing the card.</p>
        <a href="#">Read More</a>
    </div>
    <div class="card">
        <img src="/assets/images/PHP.png" alt="Image 2">
        <h2>Card Title 2</h2>
        <p>This is some sample text describing the card.</p>
        <a href="#">Read More</a>
    </div>
    <div class="card">
        <img src="/assets/images/python.webp" alt="Image 3">
        <h2>Card Title 3</h2>
        <p>This is some sample text describing the card.</p>
        <a href="#">Read More</a>
    </div>
    <div class="card">
        <img src="/assets/images/react.jpg" alt="Image 2">
        <h2>Card Title 2</h2>
        <p>This is some sample text describing the card.</p>
        <a href="#">Read More</a>
    </div>
    <div class="card">
        <img src="/assets/images/typeScript.webp" alt="Image 3">
        <h2>Card Title 3</h2>
        <p>This is some sample text describing the card.</p>
        <a href="#">Read More</a>
    </div>
</div>
